<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!--Firebase-->
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-storage.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./homePage.css">

    <!-- <script type="module" src="index.js"></script> -->
</head>

<body>
    <ul>
        <li id="logo"><a href="default.asp">Logo</a></li>
        <li style="float: right;"><a href="../User/UserInfo/userInfo.html">
            <i id="userIcon" class="fa fa-user"></i>
        </a></li>
    </ul>
    <div class="tbg">
        <div class="tbgwrap">
            <div class="tphoto">
                <img src="https://cdn.pixabay.com/photo/2013/07/12/18/36/pencil-153561__340.png" title="tphoto"
                    alt="Tinder Photo" />
                <div class="tname">Pencil, <span class="age">$27</span></div>
            </div>
            <div class="tcontrols">
                <div class="tno"><i class="fa fa-times" aria-hidden="true"></i></div>
                <div class="tyes"><i class="fa fa-check" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
</body>

</html>