<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!--Firebase-->
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-storage.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./homePage.css">
    <link rel="stylesheet" type="text/css" href="../../font.css">

    <!-- <script type="module" src="index.js"></script> -->
</head>

<body>
    <ul>
        <li style="float: right;"><a href="../User/UserInfo/userInfo.html">
                <i id="userIcon" class="fa fa-user"></i>
            </a></li>
        <li><a href="./homePage.html">Logo</a></li>
    </ul>
    <div class="tbg">
        <div class="tbgwrap">
            <div class="tname"><h2>Pencil</h2></div>
            <div class="tphoto">
                <img src="https://cdn.pixabay.com/photo/2013/07/12/18/36/pencil-153561__340.png" title="tphoto"
                    alt="Tinder Photo" />
            </div>
            <div class="otheruser">Sir Useralot</div>
            <div class="description">Lorem ipsum dolor sit amet, eum congue tantas principes ex. Etiam mazim labitur pro
                ei, sea sale illud nostrum ne. Et ius mazim invenire suscipiantur. Eam quodsi vivendo denique cu.

                Falli virtute eu vim, case graeci conclusionemque et quo. Ne pro labore consequat eloquentiam. Nam at
                mutat nullam dicunt, detracto eleifend prodesset mel ne. Ut pri malis partem dissentiunt. Vis ad dicta
                persecuti, ei mei congue malorum reprehendunt. Per at soleat iisque.
            </div>
            <div class="tcontrols">
                <div class="tno"><i class="fa fa-times" aria-hidden="true"></i></div>
                <div class="tyes"><i class="fa fa-check" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>