body {
    margin: 0;
    height: 100%;
    background-color: rgb(164, 239, 148);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 60px;
}

li {
    float: left;
    display: table-cell;
    width: 100px;
    height: 100%;
}

#logo {
    margin-left: 10px;
    width: 300px;
    float: center;
}

li a {
    display: block;
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    text-decoration: none;
}

/************************
Tinder Template by Miami
************************/
.tbg {
    height: 650px;
    width: 55em;
    background-color: white;
    margin: 0 auto;
    margin-top: 1.7em;
    border: 1px solid #c0c0c0;
    border-radius: 0em 5em 0em 2em;
    position: relative;
}

.tbgwrap {
    padding: 1em;
}

.tmp {
    width: 40%;
    height: 60%;
    margin-left: 5%;
    margin-bottom: 20%;
}

.tname {
    width: 100%;
    height: 50px;
    font-size: 2.6em;
    left: 8em;
    margin-top: 13;
    font-weight: 500;
}

.otheruser {
    height: 50px;
    width: 100%;
    color: #402E8C;
    font-size: 1.35em;
    text-align: center;
}

.userarea {
    font-family: 'Poppins', sans-serif;
    color: #402e8c;
    font-size: 1.35em;
    margin-left: 10em;
    margin-top: -1.53em;
}

.description {
    width: 100%;
    height: 350px;
    text-align: center;
}

#descriptionId {
    height: 400px;
    width: 100%;
}

.fa-users,
.tinfo .fa-book {
    color: #c0c0c0;
    float: right;
    position: relative;
    font-size: 24px;
    padding: 12px;
}

.tno {
    background-color: #fff;
    height: 6.5em;
    width: 6.5em;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border: 0.5em solid #f0f0f0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.tno i {
    color: #ff695b;
    font-size: 60px;
    padding: 0.42em 0.29em;
}

.tno:after {
    position: absolute;
    left: 10px;
    content: '';
    height: 40px;
    width: 275px;
    border-bottom: solid 3px #019fb6;
    transition: left 250ms ease-in-out, right 250ms ease-in-out;
    opacity: 0;
}

.tno:hover {
    background-color: #de2312;
}

.tno:hover:after {
    background-color: #ff695b;
}

.tyes {
    background-color: #fff;
    height: 6.5em;
    width: 6.5em;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border: 0.5em solid #f0f0f0;
    cursor: pointer;
    display: inline-block;
    float: right;
}

.tcontrols {
    margin-left: auto;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    position: absolute;
    bottom: 30px;
}

.tyes i {
    color: #5de19c;
    font-size: 60px;
    padding: 0.42em 0.29em;
}

.tyes:hover {
    background-color: rgb(10, 208, 10);
}

#itemImage {
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}

.tphoto {
    max-width: 50%;
    height: auto;
    margin-right: 10px;
    margin-left: auto;
    margin-top: -500px;
}