<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!--Firebase-->
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-storage.js"></script>

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./homePage.css">
    <link rel="stylesheet" type="text/css" href="../../font.css">

    <script src="../../index.js"></script>
    <script src="../../models/Info.js"></script>
    <script src="../../models/Items.js"></script>
    <script src="./homePage.js"></script>
</head>

<body onload="load();">
    <ul>
        <li style="float: right;"><a href="../User/UserInfo/userInfo.html">
                <i id="userIcon" class="fa fa-user"></i>
            </a></li>
        <li><a href="./homePage.html">Logo</a></li>
    </ul>
    <div class="tbg">
        <div class="tmp">
            <div class="tname">
                <h2 id="itemName"></h2>
            </div>
            <div class="otheruser">
                <p id="userName"></p>
            </div>
            <div class="description">
                <p id="descriptionId">abxc</p>
            </div>
        </div>

        <div class="tphoto">
            <img src="https://firebasestorage.googleapis.com/v0/b/spartahack-e0815.appspot.com/o/Images%2FHGzMASTf3dVQJCwAeIFoq4YXmvG2.jpg?alt=media&token=8cf19d50-35b6-488f-b6c4-ce30b291659e"
                id="itemImage" />
        </div>
        <div class="tcontrols">
            <div class="tno"><i class="fa fa-times" aria-hidden="true" onclick="noClick();"></i></div>
            <div class="tyes"><i class="fa fa-check" aria-hidden="true" onclick="yesClick();"></i></div>
        </div>
    </div>
    </div>
</body>

</html>