<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--Firebase-->
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-storage.js"></script>

    <script src="../../../index.js"></script>
    <script src="../../../models/Info.js"></script>
    <script src="../../Authentication/LogIn/logIn.js"></script>
    <script src="./userInfo.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="../../HomePage/homePage.css">
    <link rel="stylesheet" type="text/css" href="./userInfo.css">
    <link rel="stylesheet" type="text/css" href="../../../font.css">
</head>

<body onload="load();">
    <ul>
        <li class="logo"><a href="../../HomePage/homePage.html"><h2 class="logo_name">Barter</h2></a></li>
        <li style="float: right;"><a href="../UserInfo/userInfo.html">
                <i id="userIcon" class="fa fa-user"></i>
            </a></li>
    </ul>
    <div class="bd">
        <div class="bdleft">
            <img class="circular--square"
                src="https://www.pngitem.com/pimgs/m/575-5759580_anonymous-avatar-image-png-transparent-png.png" />
            <h2 class="username"> User name</h2>
            <div class="choosing">
                <h1 class="button"> Information </h1>
            </div>
            <div class="buttonWrap">
                <a href="../Items/items.html" class="link">
                    <h1 class="button"> Items </h1>
                </a>
            </div>
        </div>
        <div class="bdright">
            <h2 class="title"> Profile Information </h2>
            <div class="mahi_holder">
                <div class="container">
                    <div class="row bg_3">
                        <div class="col-3 input-effect">
                            <input class="effect-18" type="text" placeholder="First name" id="firstName">
                            <span class="focus-border"></span>
                        </div>
                        <div class="col-3 input-effect">
                            <input class="effect-18" type="text" placeholder="Last name" id="lastName">
                            <span class="focus-border"></span>
                        </div>
                        <div class="col-3 input-effect">
                            <input class="effect-18" type="text" placeholder="Address" id="address">
                            <span class="focus-border"></span>
                        </div>
                        <div class="col-3 input-effect">
                            <input class="effect-18" type="text" placeholder="Apt/Suite #" id="apt">
                            <span class="focus-border"></span>
                        </div>
                        <div class="col-3 input-effect">
                            <input class="effect-18" type="text" placeholder="City" id="city">
                            <span class="focus-border"></span>
                        </div>
                        <div class="col-3 input-effect">
                            <input class="effect-18" type="text" placeholder="Zip Code" id="zip">
                            <span class="focus-border"></span>
                        </div>
                        <div class="col-3 input-effect">
                            <input class="effect-18" type="text" placeholder="Email" id="email">
                            <span class="focus-border"></span>
                        </div>
                        <div class="col-3 input-effect">
                            <input class="effect-18" type="text" placeholder="Phone number" id="phone">
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <h2 id="save" onclick="saveClick();"> Save </h2>
            </div>
        </div>
</body>
</body>

</html>